
<h1>Magasins</h1>
<div class="stores">
    {{#each magasins as |magasin|}}
    <div class="store store__hero">
        <a href="/magasins/{{magasin.slug}}">
            <h2 class="title">{{magasin.name}}</h2>
            <img width="200px" src="uploads/{{magasin.photo}}" alt="">
            <span>{{magasin.photo}}</span>
            <p>{{magasin.desc}}</p>
        </a>
    </div>
    {{/each}}
</div>