{{#each errors as |error|}}
Error : {{error.msg}}<br>
{{/each}}
<h2>New User</h2>
<form action ="/register" class="form" method="POST">
    <label for="name">
        Name:
        <input type="text" name="name" id="name" value={{user.name}}>
    </label>
    <label for="email">
        Email:
        <input type="email" name="email" id="email" value={{user.email}}>
    </label>
    <label for="pswd">
        Password: 
        <input type="password" name="pswd" id="pswd" value={{user.pswd}}>
    </label>
    <label for="pswd-confirm">
        Confirm Password: 
        <input type="password" name="pswd-confirm" id="pswd-confirm" value={{user.pswd-confirm}}>
    </label><br>
    <input type="submit" value="Valider" class="button">
</form>